{
  "extends": [
    "@wyattades/eslint-config",
    "@wyattades/eslint-config/import-order"
  ],
  // TODO: there may be a better way to still enable this rule in nested packages...
  "overrides": [
    {
      "files": ["with-nested/**/*"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "rules": {
    "no-console": "off"
  },
  "parserOptions": {
    "project": ["tsconfig.json", "with-nested/tsconfig.json"]
  }
}
